@model _23DH114708_MyStore.Models.ViewModel.ProductSearchVM

@{
    ViewBag.Title = "Product Search";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <style>
        .search-container {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <!-- Form Tìm Kiếm -->
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new 
       { 
           @class = "form-control", 
           placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
       })
            
    @*bổ sung thêm trường tìm kiếm theo khoảng giá*@
            @Html.TextAreaFor(m=>m.MinPrice, new
       {
           @class="form-control",
           placeholder="Nhập giá tối thiểu",
           type="number"
       })
            @Html.TextBoxFor(m=>m.MaxPrice, new
       {
           @class="from-control",
           placeholder="Nhập giá tối đa",
           type="number"
       })
            <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
        </div>
    }

    @* Form Kết quả tìm kiếm *@
    @Html.Partial("PVListProduct", Model)
</body>
</html>
